@model Booker.Data.Item


<article class="book-tile">
    <img src="@Model.Photo" />
    <footer>
        <a asp-page="/Book">
            <h3>@Model.Book.Title</h3>
        </a>
        <div class="flow-root">
            <p>@Model.Price zł</p>
            <p><small>ŚlTZN</small></p>
            <button class="outline">@Model.Book.Subject</button>
            <button class="outline">@Model.Book.Grade</button>
            @*if (Model.Book.Level is not null)
            {*@
                <button class="outline">@Model.Book.Level</button>
            @*}*@
            <button class="outline fav" aria-label="Dodaj do ulubionych" title="Dodaj do ulubionych">
                <svg><use href="img/icons.svg#si-awesome-star-o" /></svg>
            </button>
        </div>
    </footer>
</article>